- provide(:title, "Home")

- @conferences.each do |c|

	.col-md-12.col-xs-12
		%p
			%h2
				= c.Conf_date
				%br
				%br
				=h c.Prog_lang
		%p 
			Konferencja odbędzie się w mieście #{h c.City} na ul. #{h c.Street}
		%p 
			Kilka słów o samej konferencji:
			%br
			=h c.Short_desc
