- provide(:title, "Home")

- @conferences.each do |c|
	
	- if c.Date_of_accept.present?
		.col-md-12.col-xs-12
			%p
				%h2
					= c.Conf_date
					%br
					%br
					= c.Prog_lang
					%br
					%br
					= c.City + " " + c.Street
			%p 
				Kilka słów o samej konferencji:
				%br
				= c.Short_desc.html_safe
