- provide(:title, "API")

- @open_events["results"].each do |e|
	.col-md-12.col-xs-12
		%p
			%h2
				-#=h Time.at(e["time"]).to_date.to_s[0..10]
				- temp = e["time"].to_s[0..9]
				-# temp.instance_of? String
				= Time.at(temp.to_i).utc
				%p
				- details = HashWithIndifferentAccess.new(e["venue"])
				- if details["city"].present?
					=h details["city"]
					%br
				- if details["localized_country_name"].present?
					=h details["localized_country_name"]
				%p
				=h e["name"].html_safe
		%p
			=h e["description"].html_safe unless e["description"].blank?
		%br
		%br
		%br