<footer>
	<small>
		Devmeet 2017 by BorsuqueSquad
	</small>
	<nav>
	  <ul class="nav navbar-nav navbar-right">
	    <li><%= link_to "Home",   root_path %></li>
	    <li><%= link_to "Contact us", '#' %></li>
	  </ul>
	</nav>
</footer>