<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="container">
	  <%= link_to "Devmeet", root_path, id: "logo" %>
	  <nav>
		  <ul class="nav navbar-nav navbar-right">
		    <li><%= link_to "Home",   root_path %></li>
		    <li><%= link_to "Add conference", new_path %></li>
		    <li><%= link_to "Manage website", manage_path %></li>
		  </ul>
	  </nav>
	</div>
</header>